<div class="container mt-4">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <!-- Displaying the post title, contents, post creator’s username, and date created-->
      <h1 class="text-light">{{title}}</h1>
      <div class="card post-card-light">
        <p>{{content}}</p>
        <p class="text-muted">Posted by {{user.username}} on {{formatDateTime createdAt}}</p>
      </div>
      <!-- Comment Form -->
      {{#if logged_in}}
      <form id="comment-form">
        <div class="form-group">
          <label for="comment">Leave a Comment:</label>
          <textarea class="form-control bg-light" id="comment" name="comment" rows="3" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit Comment</button>
      </form>
      {{else}}
      <!-- Displayed when the user is not logged in -->
      <p class="text-light">Please <a href="/login">log in</a> to leave a comment.</p>
      {{/if}}
      <!-- Display the comments, the comment creator’s username, and the date created -->
      <h2 class="mt-4 text-light">Comments</h2>
      <ul class="list-unstyled" id="comments-list">
        {{#each comments}}
        <li class="card comment-card-light">
          <p>{{comment_text}}</p>
          <p class="text-muted">By {{user.username}} on {{formatDateTime this.createdAt}}</p>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
<script src="/js/comment.js"></script>